root = true
max_line_length = 120

[*]
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

[*.go]
indent_style = tab
indent_size = 4

[*.{py,php}]
indent_style = space
indent_size = 4

[*.{js,coffee,ts,html}]
indent_style = space
indent_size = 2
