[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

wsgi-intercept = "*"
nose = "*"
sphinx-rtd-theme = "*"
flask = "*"


[packages]

arrow = "*"
"iso8601" = "*"
six = ">=1.11.0"
qiniu = ">=7.1.4,<7.2.4"
"urllib3" = ">=1.24.3,<=1.25.3"
requests = ">=2.20.0,<=2.22.0"
requests-toolbelt = ">=1.0.0"
Werkzeug = ">=0.11.11,<1.0.0"
gevent = ">=22.10.2,<23.0.0"
typing = { version = "*", markers = "python_version < '3.5.0'" }
pyopenssl = { version = "*", markers = "python_version < '2.7.9'" }
idna = { version = "*", markers = "python_version < '2.7.9'" }
markupsafe = "<=2.0.1"
