arrow>=0.17.0,<1.0.0; python_version < '3.6'
arrow>=1.0.0,<2.0.0; python_version >= '3.6'
iso8601>=0.1.14
six>=1.11.0
qiniu>=7.3.1
requests<=2.31.0; python_version == '3.9'
urllib3<=1.26.18; python_version == '3.9'
requests-toolbelt==1.0.0
Werkzeug>=0.16.0,<2.0.0
secure-cookie>=0.1.0,<1.0.0
gevent>=22.10.2,<23.0.0
typing; python_version < '3.5'
markupsafe<=2.0.1
