arrow>=0.17.0,<1.0.0; python_version < '3.6'
arrow>=1.0.0,<2.0.0; python_version >= '3.6'
iso8601>=0.1.14
six>=1.11.0
qiniu>=7.3.1
requests>=2.25.1
Werkzeug>=0.16.0,<2.0.0
secure-cookie>=0.1.0,<1.0.0
gevent>=21.1.0,<22.0.0
typing; python_version < '3.5'
markupsafe<=2.0.1
