# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'apidoc/**'
      - 'doc/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'apidoc/**'
      - 'doc/**'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 
      uses: actions/setup-python@v2
      with:
        python-version: '3.6'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8 flake8-bugbear
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings.
        flake8 . --count --exit-zero --statistics

  test:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 1
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .'[test]'
    - name: Run tests with ${{ matrix.python-version }}
      env:
        APP_ID: 8FfQwpvihLHK4htqmtEvkNrv
        APP_KEY: eE9tNOcCiWoMHM1phxY41rAz
        MASTER_KEY: 75zAjEJSj7lifKQqKSTryae9
        USE_REGION: US
      run:
        nosetests -v
      
